<%= javascript_include_tag "raphael-min.js" %>
<%= javascript_include_tag "comsat.js"%>
<%= stylesheet_link_tag "comsat.css"%>

<div id="notepad"></div>

<ul class="players" style="display: none">
	<% @featured_players.each do |player |%>
		<li>
			<div class="country"><%=h player.country %></div>
			<span class="player_name">
				<%=h player.team_shorthand %><%=h player.english_name %>
			</span>
			<span class="race">
				<%=h player.main_race %>
			</span>
		</li>
	<% end %>
</ul>
