<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :english_name %><br />
    <%= f.text_field :english_name %>
  </div>
  <div class="field">
    <%= f.select :country, options_for_select([
								["Country", ""],
								["Canada", "flag_canada.png"], 
								["South Korea", "flag_south_korea.png"],
								["Sweden", "flag_sweden.png"],
								["Taiwan", "flag_taiwan.png"],
								["Ukraine", "flag_ukraine.png"],
								["USA & Canada", "flag_usa_canada.png"],
								["USA", "flag_usa.png"]]) %>
  </div>
  <div class="field">
    <%= f.label :team %><br />
    <%= f.text_field :team %>
  </div>
  <div class="field">
    <%= f.label :main_race %><br />
    <%= f.text_field :main_race %>
  </div>
  <div class="field">
    <%= f.label :team_shorthand %><br />
    <%= f.text_field :team_shorthand %>
  </div>
  <div class="field">
    <%= f.label :featured %><br />
    <%= f.check_box :featured %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
