<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alias %>
    <%= f.text_field :english_name %>
  </div>
  <div class="field">
    <%= f.label :real_name %>
    <%= f.text_field :real_name %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class="field">
	<%= f.label :Geographical_affiliation %><br />
    <%= f.select :country_id, options_for_select(Country.all.map {|u| [u.name,u.id]}) %>
  </div>
  <div class="field">
    <%= f.label :team %><br />
    <%= f.select :team_id, options_for_select([["Unaffiliated", ""]] + (Team.all.map {|u| [u.name,u.id]})) %>
  </div>
  <div class="field">
    <%= f.label :race %><br />
    <%= f.select :race_id, options_for_select(Race.all.map {|u| [u.name,u.id]}) %>
  </div>
  <div class="field">
    <%= f.label :featured %><br />
    <%= f.check_box :featured %>
  </div>
  <div class="field">
    <%= f.label :mini_head_file_name %><br />
    <%= f.file_field :mini_head_file_name %>
  </div>
  <div class="field">
    <%= f.label :action_shot_file_name %><br />
    <%= f.file_field :action_shot_file_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
