<div class="pre_header_container">
	<%- flash.each do |name, msg| -%>
		<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
		<script type="text/javascript">
			$j(function() {
				setTimeout(function(){
					$j("div#flash_<%= name %>").hide("slide", {direction: "up"}, 1000);
					}, 2000);
				});
		</script>
	<%- end -%>
	<div class="header">
		<div class="header_container">
		 	<%= link_to 'Home', root_path %>
	     	<% if user_signed_in? -%>
				<div id="user_login_box" style="float:right">
			        <%= current_user.username + " | " if current_user and current_user.username %>
			        <%= link_to 'Account', edit_user_registration_path %> |
			    	<%= link_to 'Sign out', destroy_user_session_path %>
			    </div>
			<% else %>
				<div id="user_login_box" style="float:right;">
					<%= link_to 'Sign in', new_user_session_path %>
				</div>
			<% end -%>
		</div>
	</div>
</div>

<% if request.path != "/"%>
	<div class="header_spacer"></div>
<% end %>