<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Comsat") %></title>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	<%= stylesheet_link_tag "application.css" %>
	<%= javascript_include_tag "jquery-1.6.2.min.js", "jquery-ui-1.8.15.custom.min.js"%>
	<%= javascript_include_tag "jquery-glowing.js"%>
	
	<script type="text/javascript">
		$j = jQuery.noConflict();
	</script>
  </head>
  <body>
	<%= render :partial => "/layouts/header"%>
	<div class="logo_container">
		<div class="logo_background"></div>
		<img class="logo logo_big" src="/images/comsat.png">
	</div>
		
	<div class="outer_shell">
		<div class="shell">
			<%= yield %>
		</div>
	</div>
  </body>
</html>


